/* Fundos */
.App-game {
    text-align: center;
}
.App-header-game {
    background-color: #b120b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px; 
    height: 1000px;
    
}
.background2{
  
  background-color: rgb(146, 27, 27);
  background-image: url(../../img/background_game.svg);
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
  height: 500px;
}
.div-esquerda{
  background-color: rgb(105, 107, 226);
  left: 300px;
  top: 30px;
  
  width: 1000px;
  height: 1000px;
}