.random {
    font-family: 'Chakra Petch';
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
}

.random:hover {
    text-decoration: underline;
    transform: translateY(-10px);
}