/*Estilo personagens*/
  .chars {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 10px;
    font-family: 'Chakra Petch';
    color: white;
    text-align: center;
    font-size: 18px;
  }
  .foto1, .foto2, .foto3, 
  .foto4, .foto5, .foto6 {
    width: 80x;
    height: 80px;
    transition: transform 250ms;
  }