@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap);

.App-title {
    font-family: 'Chakra Petch';
    color: white;
    text-shadow: 0.1em 0.1em #2B7735;
    font-size: 30px;
    transition: transform 250ms;
}
.App-title:hover, .left:hover, .mamute:hover {
    transform: translateY(-10px);
}

.marquee{
    height: 400px;
    align-items: center;
    display: flex;
}

.box{
    background: rgba(0, 0, 0, 0.456);
    border-radius: 20px;
    height: 560px;
    width: 320px;
}

.Text {
    font-family: 'Chakra Petch';
    color: white;
    text-align: center;
    background: image url(../../img/elements/formulas.svg);
}

.eel {
    width: 100px;
}
.jedai {
    width: 100px;
}
.left {
    width: 72px;
    margin-top: 38px;
    margin-left: -501px;
    transition: transform 250ms;
}
.mamute {
    width: 100px;
    position: absolute;
    margin-left: 166px;
    margin-top: 20px;
    transition: transform 250ms;
}
