@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap);

.App-title {
    font-family: 'Chakra Petch';
    color: white;
    text-shadow: 0.1em 0.1em #2B7735;
    font-size: 30px;
    transition: transform 250ms;
}

.App-title:hover {
    transform: translateY(-10px);
}

.Text {
    font-family: 'Chakra Petch';
    color: white;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
