/* Fundos */
    .App {
      text-align: center;
    }
    .App-header {
      background-color: #3c183d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
/*-----------------------------------------------------------------------------------------------*/
/* Repartições da tela */
  .background_game {
    display: grid;
    /*grid-template-columns: 28fr 2fr 1fr;*/
    grid-template-columns: repeat(3, 1fr);
  }
  /*HEADER*/
    .cabeçalho {
      grid-column-start: 1; /*começa em 1 e termina em 4*/
      grid-column-end: 4;
      grid-row-start: 1;
      /*grid-row-end: 3;*/
      border-radius: 10px;
      border: 6px solid;
      border-color:#231F20;
      height: 66px;
      width: 530px;
    }
    .barra_lateral { /* Coluna de extração */
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      border-radius: 10px;
      border: 6px solid;
      border-color:#231F20;
      height:70vh;  
      width:150px;  
      background-image: url(../../img/elements/formulas.svg);
      background-size: contain;
    }
    .formulas {
      height:70vh;  
      width:150px;
    }
    .extração{
      font-family: 'Chakra Petch';
      color: white;
      text-align: left;
      font-size: 15px;
      padding: 6px;
    }
    #acdin {
      font-family: 'Chakra Petch';
      font-size: 25px;
      color: white;
    }
/*-----------------------------------------------------------------------------------------------*/
  /*BODY*/
    .board {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 70;
      height: 391px;
      width: 538px;
      margin-top: -105px;
      background-image: url('../../img/Lab_Final.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .border {
      border: 6px solid;
      border-color: #231F20;
      height: 391px;
      width: 532px;
      margin-top: -6px; 
    }
    .centrifuga {
      width: 140px;
      position: relative;
      top: -238px;
      left: -28px;
      transition: transform 250ms;
    }
    .filtroElement {
      width: 205px;
      position: relative;
      top: -228px;
      left: -57px;
      transition: transform 250ms;
    }
    .centrifuga:hover, .filtroElement:hover {
      transform: translateY(-10px);
    }
    /*Botões*/
      .agua{
        width: 37px;
        height: 20px;
        border-radius: 5px;
        border: none;
        margin: 4px;
        background-color: #EEC3BB;
        font-family: 'Chakra Petch';
        font-size: 9px;
        color: white;
        position: relative;
        top: -79px;
        left: -389px;
      }
      .trigli {
        width: 36px;
        height: 20px;
        border-radius: 5px;
        border: none;
        margin: 4px;
        background-color: #EEC3BB;
        font-family: 'Chakra Petch';
        font-size: 8px;
        color: white;
        position: relative;
        top: -78px;
        left: -380px;
      }
      .arrowLeft, .arrowRight {
        background: none;
        border: none;
      }
      #arrowL, #arrowR {
        width: 25px;
        margin-left: 210px;
        margin-right: -126px;
        margin-top: 94px;
        background-color: rgba(255, 192, 203, 0);
      }
      #arrowR:hover {
        background-color: black;
        border-radius: 20px;
      }
      #arrowL:hover {
        background-color: black;
        border-radius: 20px;
      }
      /*PH*/
        .MaisPh {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -125px;
          left: 168px;
        }
        .MenosPh {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -125px;
          left: 102px;
        }
      /*Temperatura*/
        .MaisTemp{
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -130px;
          left: -7px;
        }
        .MenosTemp {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -130px;
          left: -59px;
        }
      /*Melhorias*/
        .UpReator {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -284px;
          left: 157px;
        }
        .UpPh {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -147px;
          left: 278px;
        }
        .UpChapa {
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: none;
          margin: 4px;
          background-color: #EEC3BB;
          font-family: 'Chakra Petch';
          font-size: 9px;
          color: white;
          position: relative;
          top: -202px;
          left: 42px;
        }
      /*Hover*/
      .MaisPh:hover, .MenosPh:hover, .MaisTemp:hover, .MenosTemp:hover, .UpReator:hover, .UpPh:hover, 
      .UpChapa:hover, .agua:hover, .trigli:hover {
        background-color: #EA8D8D;
      }

    /*Pop Up com hover*/
      /*PH Info*/
        .PH { /*Posição*/
          color: white;
          font-size: 30px;
          background:rgb(190, 77, 77);
          border-radius: 25px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          position: relative;
          top: -164px;
          left: 237px;
        }
        .PH .textPH {
          visibility: hidden;
          width: 120px;
          background: rgb(190, 77, 77);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        } 
        .PH .textPH::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(190, 77, 77) transparent transparent transparent;
        }
        .PH:hover .textPH {
          visibility: visible;
        }
      /*Temperatura Info*/
        .TEMP { /*Posição*/
          color: white;
          font-size: 30px;
          background:rgb(236, 214, 15);
          border-radius: 25px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          position: relative;
          top: -110px;
          left: 165px;
        }
        .TEMP .textTEMP {
          visibility: hidden;
          width: 120px;
          background: rgb(236, 214, 15);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .TEMP .textTEMP::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(236, 214, 15) transparent transparent transparent;
        }
        .TEMP:hover .textTEMP {
          visibility: visible;
        }
      /*Água Info*/
        .AGUA { /*Posição*/
          color: white;
          font-size: 30px;
          background:rgb(77, 164, 190);
          border-radius: 25px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          position: relative;
          top: -303px;
          left: 20px;
        }
        .AGUA .textAGUA {
          visibility: hidden;
          width: 120px;
          background: rgb(77, 164, 190);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .AGUA .textAGUA::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(77, 164, 190) transparent transparent transparent;
        }
        .AGUA:hover .textAGUA {
          visibility: visible;
        }
      /*Triglicerídeo Info*/
        .TRIGLI { /*Posição*/
          color: white;
          font-size: 30px;
          background:rgb(77, 190, 115);
          border-radius: 25px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          position: relative;
          top: -311px;
          left: 69px;
        }
        .TRIGLI .textTRIGLI {
          visibility: hidden;
          width: 120px;
          background: rgb(77, 190, 115);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .TRIGLI .textTRIGLI::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(77, 190, 115) transparent transparent transparent;
        }
        .TRIGLI:hover .textTRIGLI {
          visibility: visible;
        }
      /*REATOR IInfo*/
        .REATOR { /*Posição*/
          color: white;
          font-size: 30px;
          background:rgb(241, 139, 55);
          border-radius: 25px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          position: relative;
          top: -362px;
          left: 163px;
        }
        .REATOR .textREATOR {
          visibility: hidden;
          width: 200px;
          background: rgb(241, 139, 55);
          font-family:'Chakra Petch';
          font-size: 15px;
          color: white;
          text-align: left;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .REATOR .REATOR::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(241, 139, 55) transparent transparent transparent;
        }
        .REATOR:hover .textREATOR {
          visibility: visible;
        }

/*-----------------------------------------------------------------------------------------------*/
  /*FOOTER*/
    .barra_inferior {
      grid-column-start: 1; /*começa em 1 e termina em 4*/
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      border-radius: 10px;
      border: 6px solid;
      border-color:#231F20;
      height: 26vh;
      width: 688px;
      display: flex;
    }
    .footer-container {
      display: flex;
    }
    /*Barra do personagem*/
      .profile { /* Barra com a foto do personagem */
        background: rgba(0, 0, 0, 0.456); 
        border-radius: 20px;
        height: 24vh;
        width: 266px;
        margin: auto 8px;
      }
      .bar { /* Barra com as info do personagem*/
        background: rgba(0, 0, 0, 0.456);
        border-radius: 20px;
        height: 8vh;
        display: flex;
        align-items: center;
      }
      .profile-char {
        width: 95px;
        margin-top: 5px;
        transition: transform 250ms;
      }      
      .profile-char:hover {
        transform: translateY(-10px);
      }
      .profile-charBody{
        width: 255px;
        margin-left: 281px;
        margin-top: 9px;
        transition: transform 250ms;
      }
      .profile-charBody:hover {
        transform: translateX(-3px);
      }
      .usernameLevel {
        font-size: 15px;
        color: white;
        font-family: 'Chakra Petch';
        margin-left: 18px;
      }
    /*Barra de log*/
      #log {
        background: rgba(0, 0, 0, 0.456);
        border-radius: 20px;
        height: 24vh;
        width: 288px;
        margin-top: 8px;
        margin-right: 8px;
        display: flex;
        align-items: flex-end;
      }
      .barLog {
        background: rgba(0, 0, 0, 0.456);
        border-radius: 20px;
        height: 8vh;
        width: 288px;
      }
      #showLog{
        overflow: auto;
        color: white;
        font-family: 'Chakra Petch';
        font-size: 15px;
        display: flex;
        flex-direction:column;
        margin-top: 50px;
        height: 260px;
        width: 230px;
      }
    /* Botões de ação */
      .BotoesAcao {
        margin-top: 8px;
        background-image: url(../../img/elements/formulas.svg);
        background-size: cover;
      }
      .botoes {
        width: 55px;
        height: 35px;
        border-radius: 5px;
        border-color: #EEC3BB;
        border-width: 0.1px;
        margin: 4px;
        background-color: #EA8D8D;
        font-family: 'Chakra Petch';
        color: white;
      }
      .botoes:hover, .popup:hover{
        background-color: #EEC3BB;
      }
    /* Pop Up*/
      /*Pop Up troféu */
        .popup {
          width: 55px;
          height: 55px;
          border-radius: 30px;
          border-color: #EEC3BB;
          border-width: 0.1px;
          margin-left: -86px;
          margin-top: 20px;
          background-color: #EA8D8D;
          font-family: 'Chakra Petch';
          color: white;
          background-image: url('../../img/elements/trofeu.png');
          background-size: contain;
          position: absolute;
          display: inline-block;
          cursor: pointer
        }
        /*Fundo pop up info */
          .popup .popuptext {
            visibility: hidden;
            background-color: #ea8d8d;
            text-align: left;
            height: -15px;
            width: 355px;
            margin-left: -410px;
            color: #fff;
            border-radius: 20px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 600%;
            padding: 10px;
            line-height: 22px;
          }
        /* Popup arrow */
          .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
          } 
        /* Toggle this class when clicking on the popup container (hide and show the popup) */
          .popup .popuptext.show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
          }  
        /* Add animation (fade in the popup) */
          @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
          }
          @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
          }

        /* Pop Up ajuda */
          .help {
            width: 55px;
            height: 35px;
            border-radius: 5px;
            border-color: #EEC3BB;
            border-width: 0.1px;
            margin: 4px;
            background-color: #EA8D8D;
            font-family: 'Chakra Petch';
            color: white;
            position: absolute;
            display: inline-block;
            cursor: pointer;
          }
        /*Fundo pop up info */
          .help .helptext {
            visibility: hidden;
            width: 93px;
            height: 79px;
            background-color: #ea8d8d;
            color: #fff;
            font-size: 15px;
            text-align: left;
            border-radius: 20px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: -13px;
            padding: 23px;
            line-height: 22px;;
          }
        /* Popup arrow */
          .help .helptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
          } 
        /* Toggle this class when clicking on the popup container (hide and show the popup) */
          .help .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s
          }  
        /* Add animation (fade in the popup) */
          @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
          }
          @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
          }
/*-----------------------------------------------------------------------------------------------*/