/* Fundos */
  .App {
    text-align: center;
  }
  .App-header {
    background-color: #3c183d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
/*-----------------------------------------------------------------------------------------------*/
/* Repartições da tela */
  .background_game {
    display: grid;
    /*grid-template-columns: 28fr 2fr 1fr;*/
    grid-template-columns: repeat(1, 1fr);
  }

  /*HEADER*/
    .cabeçalho {
      grid-column-start: 1; /*começa em 1 e termina em 4*/
      grid-column-end: 4;
      grid-row-start: 1;
      /*grid-row-end: 3;*/
      border-radius: 10px;
      border: 6px solid;
      border-color:#231F20;
      height: 66px;
      width: 530px;
    }
    .barra_lateral { /* Coluna de extração */
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      border-radius: 10px;
      border: 6px solid;
      border-color:#231F20;
      height:70vh;  
      width:150px;  
      background-image: url(../../img/elements/formulas.svg);
      background-size: contain;
    }
    .formulas {
      height:70vh;  
      width:150px;
    }
    .extração{
      font-family: 'Chakra Petch';
      color: white;
      text-align: left;
      font-size: 15px;
      padding: 6px;
    }
    #acdin {
      font-family: 'Chakra Petch';
      font-size: 25px;
      color: white;
    }
/*-----------------------------------------------------------------------------------------------*/
  /*BODY*/
    .board {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 70;
      height: 391px;
      width: 538px;
      margin-top: -105px;
      background-image: url('../../img/Lab_Final.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .border {
      border: 6px solid;
      border-color: #231F20;
      height: 391px;
      width: 532px;
      margin-top: -6px; 
    }
    .centrifuga {
      width: 140px;
      position: relative;
      top: -238px;
      left: -28px;
      transition: transform 250ms;
    }
    .filtroElement {
      width: 205px;
      position: relative;
      top: -228px;
      left: -57px;
      transition: transform 250ms;
    }
    .centrifuga:hover, .filtroElement:hover {
      transform: translateY(-10px);
    }
    /*Botões*/
      .agua{
        font-family: 'Chakra Petch';
        font-size: 9px;
        color: white;
        background-color: #ea8d8d;
        border: 0.01px solid #6d486f;
        border-radius: 5px;
        width: 40px;
        height: 20px;
        position: relative;
        top: -79px;
        left: -370px;
      }
      .trigli {
        font-family: 'Chakra Petch';
        font-size: 9px;
        color: white;
        background-color: #ea8d8d;
        border: 0.01px solid #6d486f;
        border-radius: 5px;
        width: 40px;
        height: 20px;
        position: relative;
        top: -79px;
        left: -360px;
      }
      /*PH*/
        .MaisPh {
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #BF3F64;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -130px;
          left: 165px;
        }
        .MenosPh {
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #DBC032;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -130px;
          left: 109px;
        }
      /*Temperatura*/
        .MaisTemp{
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #BF3F64;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -130px;
          left: 2px;
        }
        .MenosTemp {
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #DBC032;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -130px;
          left: -49px;
        }
      /*Melhorias*/
        .UpReator {
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #bf3f64;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -280px;
          left: 145px;
        }
        .UpPh {
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #bf3f64;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -155px;
          left: 270px;
        }
        .UpChapa {
          font-family: 'Chakra Petch';
          font-size: 25px;
          color: white;
          line-height: 12.5px;
          background-color: #bf3f64;
          border: none;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -201px;
          left: 35px;
        }
      /*Hover*/
      .MaisPh:hover,  .MaisTemp:hover, .UpReator:hover, .UpPh:hover, 
      .UpChapa:hover {
        background-color: rgb(202, 19, 19);
      }
      .MenosPh:hover, .MenosTemp:hover {
        background-color: #f1e42c;
      }

    /*Pop Up com hover*/
      /*PH Info*/
        .PH { /*Posição*/
          font-family: 'Chakra Petch';
          font-size: 30px;
          color: white;
          line-height: 25px;
          background: #6831bb;
          border-radius: 25px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -174px;
          left: 236px;
        }
        .PH .textPH {
          visibility: hidden;
          width: 120px;
          background: rgb(190, 77, 77);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        } 
        .PH .textPH::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(190, 77, 77) transparent transparent transparent;
        }
        .PH:hover .textPH {
          visibility: visible;
        }
      /*Temperatura Info*/
        .TEMP { /*Posição*/
          font-family: 'Chakra Petch';
          font-size: 30px;
          color: white;
          line-height: 25px;
          background: #6831bb;
          border-radius: 25px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -160px;
          left: 160px;
        }
        .TEMP .textTEMP {
          visibility: hidden;
          width: 120px;
          background: rgb(236, 214, 15);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .TEMP .textTEMP::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(236, 214, 15) transparent transparent transparent;
        }
        .TEMP:hover .textTEMP {
          visibility: visible;
        }
      /*Água Info*/
        .AGUA { /*Posição*/
          font-family: 'Chakra Petch';
          font-size: 30px;
          color: white;
          line-height: 25px;
          background: #6831bb;
          border-radius: 25px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -310px;
          left: 20px;
        }
        .AGUA .textAGUA {
          visibility: hidden;
          width: 120px;
          background: rgb(77, 164, 190);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .AGUA .textAGUA::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(77, 164, 190) transparent transparent transparent;
        }
        .AGUA:hover .textAGUA {
          visibility: visible;
        }
      /*Triglicerídeo Info*/
        .TRIGLI { /*Posição*/
          font-family: 'Chakra Petch';
          font-size: 30px;
          color: white;
          line-height: 25px;
          background: #6831bb;
          border-radius: 25px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -315px;
          left: 67px;
        }
        .TRIGLI .textTRIGLI {
          visibility: hidden;
          width: 150px;
          line-height: 20px;
          background: rgb(77, 190, 115);
          font-family:'Chakra Petch';
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .TRIGLI .textTRIGLI::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(77, 190, 115) transparent transparent transparent;
        }
        .TRIGLI:hover .textTRIGLI {
          visibility: visible;
        }
      /*REATOR IInfo*/
        .REATOR { /*Posição*/
          font-family: 'Chakra Petch';
          font-size: 30px;
          color: white;
          line-height: 25px;
          background: #6831bb;
          border-radius: 25px;
          width: 25px;
          height: 25px;
          position: relative;
          top: -378px;
          left: 161px;
        }
        .REATOR .textREATOR {
          visibility: hidden;
          width: 200px;
          background: rgb(241, 139, 55);
          font-family:'Chakra Petch';
          font-size: 15px;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -60px;
        }  
        .REATOR .REATOR::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgb(241, 139, 55) transparent transparent transparent;
        }
        .REATOR:hover .textREATOR {
          visibility: visible;
        }
        
        .PH:hover, .TEMP:hover, .AGUA:hover, .TRIGLI:hover, .REATOR:hover {
          background: #9a5cf7;
        }
/*-----------------------------------------------------------------------------------------------*/
  /*FOOTER*/
    .barra_inferior {
      grid-column-start: 1; /*começa em 1 e termina em 4*/
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      border-radius: 10px;
      border: 6px solid;
      border-color:#231F20;
      height: 26vh;
      width: 688px;
      display: flex;
    }
    .footer-container {
      display: flex;
    }
    /*Barra do personagem*/
      .profile { /* Barra com a foto do personagem */
        background: rgba(0, 0, 0, 0.456); 
        border-radius: 20px;
        height: 24vh;
        width: 266px;
        margin: auto 8px;
      }
      .bar { /* Barra com as info do personagem*/
        background: rgba(0, 0, 0, 0.456);
        border-radius: 20px;
        height: 8vh;
        display: flex;
        align-items: center;
      }
      .profile-char {
        width: 95px;
        margin-top: 5px;
        transition: transform 250ms;
      }      
      .profile-char:hover {
        transform: translateY(-10px);
      }
      .profile-charBody{
        width: 255px;
        margin-left: 281px;
        margin-top: 9px;
        transition: transform 250ms;
      }
      .profile-charBody:hover {
        transform: translateX(-3px);
      }
      .usernameLevel {
        font-size: 15px;
        color: white;
        font-family: 'Chakra Petch';
        margin-left: 18px;
        text-align: left;
      }
    /*Barra de log*/
      #log {
        background: rgba(0, 0, 0, 0.456);
        border-radius: 20px;
        height: 24vh;
        width: 288px;
        margin-top: 8px;
        margin-right: 8px;
        display: flex;
        align-items: flex-end;
      }
      /*.barLog {
        background: rgba(0, 0, 0, 0.456);
        border-radius: 20px;
        height: 8vh;
        width: 288px;}*/
      #showLog{
        overflow: auto;
        color: white;
        font-family: 'Chakra Petch';
        font-size: 15px;
        display: flex;
        flex-direction:column;
        margin-top: 50px;
        height: 130px;
        width: 237px;
      }
    /* Botões de ação */
      .BotoesAcao {
        margin-top: 8px;
        background-image: url(../../img/elements/formulas.svg);
        background-size: cover;
      }
      .botoes {
        height: 35px;
        border-radius: 5px;
        border: 0.01px solid #6d486f;
        margin: 4px;
        background-color: #EA8D8D;
        font-family: 'Chakra Petch';
        color: #ffffff;
      }
      .botoes:hover, .popup:hover, .help:hover, .agua:hover, .trigli:hover{
        background-color: #663D3D;
      }
    /* Pop Up*/
      /*Pop Up troféu */
        .popup {
          width: 55px;
          height: 55px;
          border-radius: 30px;
          border: 0.01px solid #6d486f;
          background-color: #EA8D8D;
          font-family: 'Chakra Petch';
          color: white;
          background-image: url('../../img/elements/trofeu.png');
          background-size: contain;
          display: inline-block;
          cursor: pointer;
          position: absolute;
          margin-top: 20px;
          margin-left: -92px;
        }
        /*Fundo pop up info */
          .popup .popuptext {
            visibility: hidden;
            background-color: #ea8d8d;
            text-align: left;
            height: -15px;
            width: 355px;
            margin-left: -410px;
            color: #fff;
            border-radius: 20px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 600%;
            padding: 10px;
            line-height: 22px;
          }
        /* Popup arrow */
          .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
          } 
        /* Toggle this class when clicking on the popup container (hide and show the popup) */
          .popup .popuptext.show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
          }  
        /* Add animation (fade in the popup) */
          @-webkit-keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
          }
          @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
          }

      /* Pop Up ajuda */
        .help {
          width: 55px;
          height: 55px;
          border-radius: 30px;
          border: 0.01px solid #6d486f;
          margin: 4px;
          background-color: #EA8D8D;
          font-family: 'Chakra Petch';
          color: white;
          display: inline-block;
          cursor: pointer;
          position: absolute;
          margin-top: 106px;
        }
        .chat {
          width: 55px;
          height: 55px;
          border-radius: 30px;
          border: 0.01px solid #6d486f;
          margin: 4px;
          background-color: #EA8D8D;
          font-family: 'Chakra Petch';
          color: white;
          display: inline-block;
          cursor: pointer;
          position: absolute;
          margin-top: 106px;
        }
        
      /*Fundo pop up info */
        .help .helptext {
          visibility: hidden;
          width: 85px;
          height: 85px;
          background-color: #ea8d8d;
          color: #fff;
          font-size: 15px;
          text-align: left;
          border-radius: 20px;
          position: absolute;
          z-index: 1;
          bottom: 72%;
          left: 50px;
          padding: 20px;
          line-height: 22px;
        }
      /* Popup arrow */
        .help .helptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
        } 
      /* Toggle this class when clicking on the popup container (hide and show the popup) */
        .help .show {
          visibility: visible;
          -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s
        }  
      /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
          from {opacity: 0;}
          to {opacity: 1;}
        }
        @keyframes fadeIn {
          from {opacity: 0;}
          to {opacity:1 ;}
        }

      /* Pop Up Caderno */
        .arrowRight {
          width: 40px;
          height: 40px;
          border: none;
          background: none;
          background-image: url('../../img/elements/arrowR.png');
          background-size: contain;
          display: inline-block;
          cursor: pointer;
          position: relative;
          top: -61px;
          left: -3px;
          transition: all .5s; /*animação do hover*/
        }
      /*Fundo pop up info */
        .arrowRight .cadernotext {
          visibility: hidden;
          width: 700px;
          height: 490.55px;
          background-color: #ea8d8d;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          bottom: -228%;
          left: -300px;
          padding: 10px;
        }
        #caderno {
          width: 700px;
        }
      /* Popup arrow */
        .arrowRight .cadernotext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
        } 
      /* Toggle this class when clicking on the popup container (hide and show the popup) */
        .arrowRight .show {
          visibility: visible;
          -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s
        }  
        .arrowRight:hover {
          border: 5px solid #6d486f;
          border-radius: 50%;
        }
      /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
          from {opacity: 0;}
          to {opacity: 1;}
        }
        @keyframes fadeIn {
          from {opacity: 0;}
          to {opacity:1 ;}
        }

/*-----------------------------------------------------------------------------------------------*/

/*  Redimensionamento das Telas 
@media only screen and (max-width: 1024px) {
  .cabeçalho {
    align-items: center;
    width: 100%;
  }
  .board {
    align-items: center;
    width: 100%;
  }
  .barra_lateral {
    align-items: center;
    width: 100%;
  }
  .barra_inferior {
    align-items: center;
    width: 100%;
  }
}*/