@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap);

.App {
  text-align: center;
}
.App-header {
  background-color: #3c183d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  width: 650px;
  height: 100vh;
  background-image: url(./img/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  background: rgba(0, 0, 0, 0.456);
  border-radius: 20px;
  height: 60vh;
  width: 380px;
  margin-top: auto;
  margin-bottom: -260px;
}

.buttons {
  font-size: 50px;
  font-family: 'Chakra Petch';
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.play:hover, .tuto:hover, .config:hover, .credit:hover {
  text-decoration: underline;
  transform: translateY(-10px);
}

.grama {
  height: 20vh;
  background-image: url(./img/grass.svg);
  width: 100%;
  background-position: bottom;
  background-size: cover;
  margin-top: auto;
}

.glass {
  background-image: url(./img/elements/glass.svg);
  width: 125px;
  height: 100px;
  background-size: cover;
  position: absolute;
  top: 530px;
  left: 360px;
}

@media only screen and (max-width: 1024px) {
  .background {
    width: 100vw;
  }
  .menu {
    align-items: center;
    width: 70%;
  }
}

@media only screen and (max-width: 720px) {
  .menu {
    width: 85%;
  }
  .glass {
    position: absolute;
    top: 560px;
    left: -14px;

  }
}

@media only screen and (max-height: 500px) {
  .menu {
    margin-top: 10%;
    margin-bottom: -90%;
  }
}