@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap);

/* Informação dos Personagens*/
        /* Capivara */
            .imageCapi {
                width: 310px;
                position: absolute;
                margin-top: 165px;
                margin-left: 250px;
                transition: transform 250ms;
            }
            .titleCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;  
                font-size: 17px;
                text-align: initial;
                position: absolute;
                top: 24px;
            }
            .ageCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                position: absolute;
                top: 54px;
            }
            .heighCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                position: absolute;
                top: 84px;
            }
            .weightCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                position: absolute;
                top: 114px;
            }
            .advantageCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                white-space: pre-wrap;
                font-size: 16px;
                text-align: initial;
                position: relative;
                top: 6px;
                left: 220px;
            }
            .disadvantageCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                position: relative;
                top: -18px;
                left: 220px;
            }
            .bioCapi {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 14.6px;
                white-space: pre-wrap;
                text-align: initial;
                position: relative;
                left: 30px;
                top: 6px;
            }
        /*Guará*/
            .imageGuara {
                width: 310px;
                position: absolute;
                margin-top: 165px;
                margin-left: 250px;
                transition: transform 250ms;
            }
            .titleGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;  
                font-size: 17px;
                text-align: initial;
                margin-top: -80px;
                margin-left: 18px;
            }
            .ageGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -50px;
                margin-left: 18px;
            }
            .heighGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                margin-top: -20px;
                margin-left: -286px;
            }
            .weightGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                margin-top: -10px;
                margin-left: -308px;
            }
            .advantageGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                white-space: pre-wrap;
                font-size: 16px;
                text-align: initial;
                margin-top: -133px;
                margin-left: 218px;
            } 
            .disadvantageGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -70px;
                margin-left: 218px;
            }
            .bioGuara {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 15px;
                white-space: pre-wrap;
                text-align: initial;
                margin-left: 20px;
                margin-top: 0px;
            }
        /* Mamute */
            .imageMamu {
                width: 310px;
                position: absolute;
                margin-top: 166px;
                margin-left: 220px;
                transition: transform 250ms;
            }
            .titleMamute {
                font-family: 'IBM Plex Mono', monospace;
                color: white;  
                font-size: 17px;
                text-align: initial;
                margin-top: -100px;
                margin-left: 18px;
            }
            .ageMamute {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -70px;
                margin-left: 18px;
            }
            .heighMamute {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -20px;
                margin-left: 18px;
            }
            .weightMamute {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -12px;
                margin-left: 18px;
            }
            .bioMamute {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                margin-left: 20px;
                margin-top: -3px;
            }
        /* Miquito */ 
            .imageMico {
                width: 310px;
                position: absolute;
                margin-top: 166px;
                margin-left: 220px;
                transition: transform 250ms;
            }
            .titleMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -121px;
            }
            .ageMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -88px;
            }
            .heighMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -55px;
            }
            .weightMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -23px;
            }
            .advantageMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                white-space: pre-wrap;
                font-size: 16px;
                text-align: initial;
                margin-top: -142px;
                margin-left: 246px;
            } 
            .disadvantageMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -86px;
                margin-left: 246px;
            }
            .bioMiquito {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 15px;
                white-space: pre-wrap;
                text-align: initial;
                position: relative;
                margin-left: 30px;
                margin-top: 6px;
            }
        /* Pintada */
            .imagePintada {
                width: 310px;
                position: absolute;
                margin-top: 166px;
                margin-left: 220px;
                transition: transform 250ms;
            }
            .titlePintada {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -156px;
            }
            .agePintada {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -123px;
            }
            .heighPintada {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -90px;
            }
            .weightPintada {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -56px;
            }
            .advantagePintada {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                white-space: pre-wrap;
                font-size: 16px;
                text-align: initial;
                margin-top: -155px;
                margin-left: 250px;
            } 
            .disadvantagePintada {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -82px;
                margin-left: 250px;
            }
            .bioPintada{
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                margin-left: 20px;
                margin-top: -20px;
            }
        /* Tuca */
            .imageTuca {
                width: 310px;
                position: absolute;
                margin-top: 166px;
                margin-left: 220px;
                transition: transform 250ms;
            }
            .titleTuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -186px;
            }
            .ageTuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -156px;
            }
            .heighTuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -126px;
            }
            .weightTuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -96px;
            }
            .advantageTuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                white-space: pre-wrap;
                font-size: 17px;
                text-align: initial;
                margin-top: -146px;
                margin-left: 246px;
            } 
            /*.disadvantageTuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -140px;
                margin-left: 246px;
            }*/
            .bioTuca{
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                white-space: pre-wrap;
                text-align: initial;
                margin-left: 20px;
                margin-top: -68px;
            }
        /* Cuca */
            .imageJacare {
                width: 310px;
                position: absolute;
                margin-top: 166px;
                margin-left: 216px;
                transition: transform 250ms;
            }
            .titleCuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -154px;
            }
            .ageCuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -124px;
            }
            .heighCuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -94px;
            }
            .weightCuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                text-align: initial;
                margin-top: -64px;
            }
            .advantageCuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                white-space: pre-wrap;
                font-size: 16px;
                text-align: initial;
                margin-top: -154px;
                margin-left: 230px;
            } 
            .disadvantageCuca {
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 16px;
                white-space: pre-wrap;
                text-align: initial;
                margin-top: -88px;
                margin-left: 230px;
            }
            .bioCuca{
                font-family: 'IBM Plex Mono', monospace;
                color: white;
                font-size: 17px;
                white-space: pre-wrap;
                text-align: initial;
                margin-left: 20px;
                margin-top: -20px;
            }
    /* Hover das imagens */
        .image-char:hover, .imageCapi:hover, .imageGuara:hover, .imageMico:hover, .imageJacare:hover, .left-one:hover {
            transform: translateX(-10px);
        }
/*-----------------------------------------------------------------------------------------------------*/

/* Propriedades do slider */
    .slideshow {
        margin: 0 auto;
        overflow: hidden;
        max-width: 500px;
    }
    .slideshowSlider {
        white-space: nowrap;
        transition: ease 1000ms;
    }
    .window {
        width: 496px;
        height: 40px;
        border-radius: 40px;
        background-color: white;
        margin-top: -521px;
    }
    .slide {
        display: inline-grid;
        height: 460px;
        width: 496px;
        border-radius: 40px;
        border: solid 2px #231F20;
    }
    /* Botões do slide */
        .slideshowDots {
            text-align: center;
        }
        .slideshowDot {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            cursor: pointer;
            margin: 15px 7px 0px;
            background-color: #c4c4c4;
        }
        .slideshowDot.active {
            background-color: #6a0dad;
        }
/*-----------------------------------------------------------------------------------------------------*/

/* Botão de voltar */
    .left-one {
        width: 55px;
        position: relative;
        margin-top: -50px;
        left: -289px;
        transition: transform 250ms;
    }