@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap);

.image-char {
    width: 30px;
    height: 30px;
}
.textInfo {
    color: white;  
    font-family: 'Chakra Petch';
}
.carrossel >  div >  div { 
    width: 520px;
    height: 590px;
}
